// Variables
$primary-color: #007bff;
$primary-hover-color: #0056b3;
$input-border-color: #ddd;
$table-header-bg: #f1f1f1;
$table-row-bg: #f7f9fc;
$table-row-hover-bg: #e1e7f1;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
$container-bg: #ffffff;
$form-bg: #f7f9fc;
$max-width: 800px;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $container-bg;
  border-radius: 10px;
  box-shadow: $box-shadow;
  max-width: $max-width;
  margin: 0 auto;
  h1, h2 {
    color: $primary-hover-color;
  }
  .title {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
  }

  .formContainer {
    background-color: $form-bg;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
   
    .input,
    .select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid $input-border-color;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
      }
    }

    .button {
      display: block;
      width: 100%;
      padding: 12px;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 500;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }

  .listContainer {
    width: 100%;
    background-color: $container-bg;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;

    .alumnoTable {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;

      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid $input-border-color;
      }

      th {
        background-color: $table-header-bg;
        font-weight: bold;
      }

      .alumnoRow {
        background-color: $table-row-bg;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $table-row-hover-bg;
        }
      }
    }
  }
}
